<style>
        @import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,300;0,500;1,100&display=swap');
        </style>
*{
    margin:0;
    padding: 0;
    box-sizing: 0;
    text-decoration: none;
}
main{
    font-family: 'Prompt', sans-serif;
    font-size: 15px;
  text-align: center;
  margin: 10px 30px 30px 30px;
}
#main{
    font-size: 15px;
    background-color:rgb(26, 19, 19);
    color:rgb(214, 214, 240);
     
}

#title{
    font-size: 40px;
    padding: 20px;
   
}

p{
    margin-bottom: 20px;

}

.introducao{
    
    font-size: 20px;
    text-align: justify;
    margin: 30px 30px 30px 30px;

}

ul{
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: justify;
    
}
li{
    margin: 10px 0;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
     text-align: center;
  }
  
  #img-div {
    background: linear-gradient(360deg, #140f0f, #635f5f);
    padding: 20px;
    margin: 0;
  }

  
  #img-caption{
    margin: 30px 30px 30px 30px;
  }


 .citacao {
     font-size: 15px;
     font-style: italic;
    margin: 30px 30px 30px 30px;
    text-align: center;

 }
.finalizacao {
    font-size: 15px;
    padding: 20px;
}

 }